.contenedor-tabla{

display:        table;
width:           1600px;

height:        50px;
border:        1px solid #0a0a0a;
background-color: #ffffff;
margin-right:     auto;
margin-left:      auto;


}

.contenedor-fila{

display: table-row;
display: table;
width:        1610px;

height:        50px;
border:        1px solid #0a0a0a;
background-color: #ffffff;
margin-right:     3px;
margin-left:      2px;
margin-top:       2px;
margin-bottom:    2px;

}

.contenedor-columna{

display: table-cell;

width:        320px;
max-width:    960px;
height:        50px;
border:        1px solid #0a0a0a;
background-color: #E3E4E5;
margin-right:     10px;
margin-left:      1px;
margin-top:       2px;
margin-bottom:    2px;

}
.contenedor-cabecera{

display: table-cell;
width:        320px;
max-width:    960px;
height:        50px;
border:        1px solid #0a0a0a;
background-color: #85929E;
margin-right:     10px;
margin-left:      1px;
margin-top:       2px;
margin-bottom:    2px;
}
.contenedor-id{

display: table-cell;
width:        320px;
max-width:    960px;
height:        50px;
border:        1px solid #0a0a0a;
background-color: #CCCCFF;
margin-right:     10px;
margin-left:      1px;
margin-top:       2px;
margin-bottom:    2px;
}
.contenedor-nombre{

display: table-cell;
width:        320px;
max-width:    960px;
height:        50px;
border:        1px solid #0a0a0a;
background-color: #ADDFAD;
margin-right:     10px;
margin-left:      1px;
margin-top:       2px;
margin-bottom:    2px;
}
.contenedor-correo{

display: table-cell;
width:        320px;
max-width:    960px;
height:        50px;
border:        1px solid #0a0a0a;
background-color: #FFFDD0;
margin-right:     10px;
margin-left:      1px;
margin-top:       2px;
margin-bottom:    2px;
}
.contenedor-rol{

display: table-cell;
width:        320px;
max-width:    960px;
height:        50px;
border:        1px solid #0a0a0a;
background-color: #FFCBDB;
margin-right:     10px;
margin-left:      1px;
margin-top:       2px;
margin-bottom:    2px;
}
.contenedor-boton{

display: table-cell;
width:        320px;
max-width:    960px;
height:        50px;
border:        1px solid #0a0a0a;
background-color: #FAF0E6;
margin-right:     10px;
margin-left:      1px;
margin-top:       2px;
margin-bottom:    2px;
}

